<nav class="navbar">
  <div class="navbar-brand">
    <a href="/index.html">Simple Social</a>
  </div>
  <div class="navbar-menu">
    <a href="/pages/feed.html" class="nav-item">Feed</a>
    <a href="/pages/profile.html" class="nav-item">Profile</a>
    <a href="/pages/messages.html" class="nav-item">Messages</a>
    <a href="/pages/groups.html" class="nav-item">Groups</a>
  </div>
  <div class="navbar-end">
    <div class="user-menu">
      <img
        id="userAvatar"
        src="../assets/default-avatar.png"
        alt="User Avatar"
        class="avatar"
      />
      <div class="dropdown-menu">
        <a href="/pages/profile.html">My Profile</a>
        <a href="/pages/settings.html">Settings</a>
        <a href="#" id="logoutBtn">Logout</a>
      </div>
    </div>
  </div>
</nav>
